*{
	box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
    height:auto;
    width: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: #e8e8e8;
    margin: 0px;
    padding: 0px;
    height:auto;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    
}
h1{
    color: orange;
}
h2{
    display: flex;
    justify-content: center;
}
h3{

}
.allExplainerTexts{
    background-color: #e8e8e8;
    padding: 2px 2px 2px 2px;
    border-radius: 10px;
    font-size: 20px;
   
}
header{

    padding: 2px 10px 2px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
   
    align-items: center;
    border-radius: 10px;
}
#gotoSection{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.navButton{
    width: 100px;
    height: 40px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    
}

.navButton:hover{
    cursor: pointer;
    border-bottom: 5px solid red;
    background-color: aqua;
}
.content{
    margin-left: 10%;
    margin-right: 10%;
}
.sections{
    height: 70vh;
}
#firstDivision{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
#personalInfo{
    height: fit-content
}

#gotoNetYetu{
    background-color:yellow;
    padding: 2px 5px 2px 5px;
    box-shadow: 2px 2px 2px 3px #3b3b3b;
    color: black;
    border-radius: 10px;
}
#gotoNetYetu:hover{
    border-bottom: 5px solid red;
    background-color: #00B8FF;
}
#aboutSummary{
    width: 45%;
    box-shadow: 5px 5px 5px 3px #3b3b3b;
    padding: 5px 10px 5px 10px;
    background-color: #00B8FF;
    border-radius: 10px;

    
}
#personalStatement{
    font-size: 25px;
}
#contacts{
    width: 45%;
    box-shadow: 5px 5px 5px 3px #3b3b3b;
    padding: 5px 10px 5px 10px;
    background-color: #00B8FF;
    border-radius: 10px;
    
   
}
#business{
    padding: 5px 10px 15px 10px;
    margin-top: 20px;
    background-color: aqua;
    border-radius: 10px;
    height: fit-content ;
}
#productsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around ;
}
.product{
    width:25vw ;
    height: 20vh;
    box-shadow: 5px 5px 5px 3px #3b3b3b;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;

}
#projects{
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    background-color:#00B8FF;
    border-radius: 10px;

}
#rantPosts{
    background-color: aqua ;
    border-radius: 10px;
}

footer{
    height: 30vh;
    
}
.learnMore{
    background-color:yellow;
    padding: 2px 5px 2px 5px;
    box-shadow: 2px 2px 2px 3px #3b3b3b;
    color: black;
    border-radius: 10px;
}
.learnMore:hover{
    border-bottom: 5px solid red;
    background-color: #00B8FF;
}
a{
    text-decoration: none;
}